p {
	margin: 20px;
	font-size: 4em;
	font-family: courier;
  }
  
  ul {
	margin: 20px;
	font-size: 3em;
	font-family: courier;
  }
  
  li {
	display: inline-block;
	margin: 0 5px 0;
	color: white;
	background-color: black;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
  } 