main.wrap{
	overflow:hidden;
	position:relative;
	width:100%;
	height:100vh;
	background:#e6ecf3;
}
section {
	text-align:center;
}
/* 메인 영역 */
.main-area {
	position:relative;
	padding: 32px 20px 68px;
	padding: 3.2rem 2rem 6.8rem;
	width:100%;
	height:100%;
	box-sizing:border-box;
	font-size:18px;
	font-size:1.8rem
}
.main-area .logo img {
	width:80%;
	max-width:200px;
	max-width:20rem;
}
.main-area h2{
	margin-top:36px;
	margin-top:3.6rem;
	font-size:24px;
	font-size: 2.4rem;
	text-align:left;
}
.main-area .ico-pan {
	display:inline-block;
	width: 24px;
	width: 2.4rem;
	height: 24px;
	height: 2.4rem;
	background:url(../img/ico_pan.png) no-repeat center center/100%;
}
.main-area [class^="wrap-meat"] {
	display:flex;
	align-items:center;
	flex-wrap:wrap;
	margin-top: 18px;
	margin-top: 1.8rem;
}
.main-area [class^="wrap-meat"] label {
	display: block;
	position:relative;
	margin:0 12px 16px 0;
	margin:0 1.2rem 1.6rem 0;
	width:calc(50% - 1.2rem);
}
.main-area [class^="wrap-meat"] label:last-child {
	margin-right:0;
}
[class^="wrap-meat"] input {
	overflow:hidden;
	position:absolute;
	width:1px;
	height:1px;
	font-size:1px;
	line-height:0;
	clip:rect(0 0 0 0);
	white-space:nowrap;
	margin:-1px;
	padding:0;
	border:0;
}
[class^="wrap-meat"] span {
	display:flex;
	align-items:center;
	justify-content:center;
	padding: 12px 20px; 
	padding: 1.2rem 2rem;
	border:1px solid #666;
	border-radius: 8px;
	border-radius: 0.8rem;
	height: 50px;
	height: 5rem;
	color:#333;
	font-weight: 600;
}
[class^="wrap-meat"] input[type=radio]:checked + span {
	border-color:#2d4902;
	background-color:#2d4902;
	color:#fff;
}
/* .wrap_language select {
	padding 
} */
.btn-start {
	display:block;
	position:fixed;
	bottom:0;
	left:0;
	z-index:1;
	width:100%;
	padding:24px 0;
	padding:2.4rem 0;
	color:#fff;
	font-weight:600;
	font-size: 20px;
	font-size: 2rem;
	line-height:1;
	background-color:#698d01;
}
html:lang(ko) .btn-start {
	letter-spacing:10px;
	letter-spacing:1rem;
}
/* 타이머 */
.timer-area {
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	position:absolute;
	bottom:-100vh;
	z-index:10;
	width:100%;
	height:100%;
	opacity:0;
	transition:all 0.5s;
}
.timer-area.on {
	bottom:0;
	opacity:1;
	transition:all 0.5s;
	background:#e6ecf3;
}
.timer-area > p {
	margin: 20px;
	margin: 2rem;
	font-size: 36px;
	font-size: 3.6rem;
	font-family: courier;
}
  
.timer-area > .time-button-area {
	margin: 20px;
	font-size: 3em;
	font-family: courier;
}
  
.timer-area > .time-button-area > button {
	display: inline-block;
	margin: 0 5px 0;
	color: white;
	background-color: black;
	border-radius: 50px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	cursor: pointer;
} 

/* 소고기 굽기정도 비표시 */
.wrap-beef-roasting-type{
	display: none;
	margin-top: 16px;
	margin-top: 1.6rem;
}
.wrap-meat-roasting span {
	border-radius:30px;
	border-radius:3rem;
}
.wrap-meat-roasting input[type=radio]:checked + span {
	color:#698d01;
	border-width:0.2rem;
	border-color:#698d01;
	background:transparent;
}
/* 임시 닫기 버튼 */
.btn-close {
	display:block;
	position:absolute;
	top: 20px;
	top: 2rem;
	right: 20px;
	right: 2rem;
	width:50px;
	width:5rem;
	height:50px;
	height:5rem;
}
.btn-close:before,
.btn-close:after {
	content:"";
	display:block;
	position:absolute;
	top:50%;
	left:10%;
	width:80%;
	height:2px;
	height:0.2rem;
	background-color:#666;
	transform-origin: center;
}
.btn-close:before {
	transform:rotate(45deg);
}
.btn-close:after {
	transform:rotate(-45deg);
}

/* 레이어 팝업 */
#modal {
	display:flex;
	align-items:center;
	flex-direction:column;
	justify-content:center;
	position:absolute;
	top:0;
	z-index:-1;
	width:100%;
	height:100%;
	opacity:0;
	transition:all 0.5s;
}
#modal.on {
	bottom:0;
	opacity:1;
	z-index:20;
	transition:all 0.5s;
	background:rgba(0, 0, 0, 0.7);
}
#modal.on.stop{
	background:rgba(200, 50, 50, 0.5);
}
#modal .modal-cont {
    display: block;
    padding: 2.5rem;
    width: 80%;
	border-radius: 1.5rem;
    background: #fff;
	font-size: 1.5rem;
	text-align: center;
}
#modal .wrap-modal-button-list{
	display: none;
	margin-top: 16px;
	margin-top: 1.6rem;
}
#modal .wrap-modal-button-list button{
	padding: 1rem;
	margin: 0 1rem;
}
#modal .wrap-modal-button-list #modal-ok {
	color:#698d01;
}